# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyc

# Fortran module files
*.mod
*.F90
fort.*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

#MDFF files
CONTFF*
OSZIFF*
TRAJFF*
DOSFF*
DOSKFF*
EIGFF*
VECTFF*

#pictures/pdf/latex output
*.aux
*.pdf
*.toc
*.eps



