# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.F90

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


bin/config.pyc
bin/constants.pyc
bin/lattice.pyc
bin/mdff.x
bin/vesta.pyc
doc/mdff.aux
doc/mdff.log
doc/mdff.pdf
doc/mdff.toc
doc/missfont.log
examples/ex1/dl_poly/
examples/ex1/mdff/
examples/ex1/plot
examples/ex10/control_files/
examples/ex11/md_runs/
examples/ex5/DOSFF
examples/ex5/DOSFF.vib
examples/ex5/DOSKFF.vib+band_GtoX
examples/ex5/DOSKFF.vib+band_LtoG
examples/ex5/DOSKFF.vib+band_XtoG
examples/ex5/DOSKFF.vib+dos
examples/ex5/EIGFF
examples/ex5/VECTFF
examples/ex5/band.eps
examples/ex5/dos.eps
examples/ex5/fort.180
examples/ex5/plot.band
examples/ex5/plot.dos
examples/ex5/stdout.vib
examples/ex5/stdout.vib+band_GtoX
examples/ex5/stdout.vib+band_LtoG
examples/ex5/stdout.vib+band_XtoG
examples/ex5/stdout.vib+dos
examples/ex6/dlpoly/
examples/ex6/mdff/
examples/ex6/plot.gr
examples/ex7/dlpoly/
examples/ex7/mdff/
examples/ex7/plot.gr
examples/ex8/dlpoly/
examples/ex8/mdff/
examples/ex8/plot.gr
examples/ex9/config/pot_cp2k/input_test.1.cp2k
examples/ex9/config/pot_cp2k/input_test.10.cp2k
examples/ex9/config/pot_cp2k/input_test.11.cp2k
examples/ex9/config/pot_cp2k/input_test.2.cp2k
examples/ex9/config/pot_cp2k/input_test.3.cp2k
examples/ex9/config/pot_cp2k/input_test.4.cp2k
examples/ex9/config/pot_cp2k/input_test.5.cp2k
examples/ex9/config/pot_cp2k/input_test.6.cp2k
examples/ex9/config/pot_cp2k/input_test.7.cp2k
examples/ex9/config/pot_cp2k/input_test.8.cp2k
examples/ex9/config/pot_cp2k/input_test.9.cp2k
examples/ex9/config/pot_mdff/control_test.1.F
examples/ex9/config/pot_mdff/control_test.10.F
examples/ex9/config/pot_mdff/control_test.11.F
examples/ex9/config/pot_mdff/control_test.2.F
examples/ex9/config/pot_mdff/control_test.3.F
examples/ex9/config/pot_mdff/control_test.4.F
examples/ex9/config/pot_mdff/control_test.5.F
examples/ex9/config/pot_mdff/control_test.6.F
examples/ex9/config/pot_mdff/control_test.7.F
examples/ex9/config/pot_mdff/control_test.8.F
examples/ex9/config/pot_mdff/control_test.9.F
examples/ex9/config/pot_mdff/scr1
examples/ex9/config/pot_mdff/scr10
examples/ex9/config/pot_mdff/scr11
examples/ex9/config/pot_mdff/scr2
examples/ex9/config/pot_mdff/scr3
examples/ex9/config/pot_mdff/scr4
examples/ex9/config/pot_mdff/scr5
examples/ex9/config/pot_mdff/scr6
examples/ex9/config/pot_mdff/scr7
examples/ex9/config/pot_mdff/scr8
examples/ex9/config/pot_mdff/scr9
examples/ex9/cp2k/
examples/ex9/mdff/
src/mdff.x

