# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyc

# Fortran module files
*.mod
*.F90
fort.*
*_genmod.f90

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

#MDFF files
CONTFF*
OSZIFF*
TRAJFF*
DOSFF*
DOSKFF*
EIGFF*
VECTFF*
log.*

#pictures/pdf/latex output
*.aux
*.pdf
*.toc
*.eps

run/
test/

examples/ex0/cp2k/
examples/ex0/dl_poly/
examples/ex0/mdff/

doc/mdff.log
doc/missfont.log
examples/ex1/dl_poly/
examples/ex1/mdff/
examples/ex1/plot
examples/ex10/control_files/
examples/ex11/md_runs/
examples/ex5/plot.band
examples/ex5/plot.dos
examples/ex5/stdout.vib
examples/ex5/stdout.vib+band_GtoX
examples/ex5/stdout.vib+band_LtoG
examples/ex5/stdout.vib+band_XtoG
examples/ex5/stdout.vib+dos
examples/ex6/dlpoly/
examples/ex6/mdff/
examples/ex6/plot.gr
examples/ex7/dlpoly/
examples/ex7/mdff/
examples/ex7/plot.gr
examples/ex8/dlpoly/
examples/ex8/mdff/
examples/ex8/plot.gr
examples/ex9/config/pot_cp2k/input_test.1.cp2k
examples/ex9/config/pot_cp2k/input_test.10.cp2k
examples/ex9/config/pot_cp2k/input_test.11.cp2k
examples/ex9/config/pot_cp2k/input_test.2.cp2k
examples/ex9/config/pot_cp2k/input_test.3.cp2k
examples/ex9/config/pot_cp2k/input_test.4.cp2k
examples/ex9/config/pot_cp2k/input_test.5.cp2k
examples/ex9/config/pot_cp2k/input_test.6.cp2k
examples/ex9/config/pot_cp2k/input_test.7.cp2k
examples/ex9/config/pot_cp2k/input_test.8.cp2k
examples/ex9/config/pot_cp2k/input_test.9.cp2k
examples/ex9/config/pot_mdff/control_test.1.F
examples/ex9/config/pot_mdff/control_test.10.F
examples/ex9/config/pot_mdff/control_test.11.F
examples/ex9/config/pot_mdff/control_test.2.F
examples/ex9/config/pot_mdff/control_test.3.F
examples/ex9/config/pot_mdff/control_test.4.F
examples/ex9/config/pot_mdff/control_test.5.F
examples/ex9/config/pot_mdff/control_test.6.F
examples/ex9/config/pot_mdff/control_test.7.F
examples/ex9/config/pot_mdff/control_test.8.F
examples/ex9/config/pot_mdff/control_test.9.F
examples/ex9/config/pot_mdff/scr1
examples/ex9/config/pot_mdff/scr10
examples/ex9/config/pot_mdff/scr11
examples/ex9/config/pot_mdff/scr2
examples/ex9/config/pot_mdff/scr3
examples/ex9/config/pot_mdff/scr4
examples/ex9/config/pot_mdff/scr5
examples/ex9/config/pot_mdff/scr6
examples/ex9/config/pot_mdff/scr7
examples/ex9/config/pot_mdff/scr8
examples/ex9/config/pot_mdff/scr9
examples/ex9/cp2k/
examples/ex9/mdff/
examples/ex11/random_structs/*

