CUTOFF_SR   7.0
CUTOFF_LR   7.0
DT          0.0005
TIME_THERMO 1.0
TIME_BARO   1.0
PRESS       0.0

TABLE:
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   |  TEMP  |   ENS. |  npas [ps]   | fprint [ps] |  traj    |  period [ps] |  POT |    flag    |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 2500K  |  NVE   |     500      |   0.05      | .false.  |    -         |  RI  |  rescaling |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 2500K  |  NVT   |     100      |   0.05      | .false.  |    -         |  RI  |     HT     |      
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 2500K  |  NVT   |     100      |   0.05      | .true.   |   0.05       |  PIM |     HT     |       
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 2500K  |  NPT_I |     100      |   0.05      | .false.  |    -         |  PIM |     HT     |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 2500K  |  NVE   |     500      |   0.05      | .true.   |   0.05       |  PIM |     HT     |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | QUENCH |  NVE   |    1000      |   0.05      | .false.  |    -         |  PIM |   0.999999 |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 300K   |  NPT_I |     100      |   0.05      | .false.  |    -         |  PIM |     LT     |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 300K   |  NVE   |     200      |   0.05      | .true.   |   0.05       |  PIM |     LT     |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
