CUTOFF_SR   5.0
CUTOFF_LR   5.0
DT          0.0005
PRESS       0.0
NEQUIL_PERIOD 10

TABLE:
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   |  TEMP  |   ENS. |  npas [ps]   | fprint [ps] |  traj    |  period [ps] |  POT |    flag    |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 2500K  |  NVE   |     1        |   0.01      | .false.  |    -         |  RI  |  rescaling |
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
   | 2500K  |  NVE   |     1        |   0.01      | .false.  |    -         |  PIM |  rescaling |       
   +--------+--------+--------------+-------------+----------+--------------+------+------------+
