ex7

ensemble nve  
temperature       0.0 
steps             0 
timestep          0.000  # 0.003 / 2.17 ps Ar units

no elec 
delr 1.0
cutoff 10.0
rvdw 10.0


print               1
stats               1

finish
