RCUT       7.2
EPSW       1e-12
CONV_SCF   1e-6

TABLE:
   +--------+---------+---------+----------+-------+---------------+
   |  TEST  |  lbmhft | lbmhftd | lcoulomb |  PIM  |  PIM_DAMPING  |
   +--------+---------+---------+----------+-------+---------------+
   |   1    |  YES    |  NO     |   NO     |   NO  |     NO        |
   |   2    |  NO     |  YES    |   NO     |   NO  |     NO        |
   |   3    |  NO     |  NO     |   YES    |   NO  |     NO        |
   +--------+---------+---------+----------+-------+---------------+
    
